src/META-INF/wsdl/localhost/ServicioWebTB/ServicioWebTB.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="ServicioWebTB" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="ServicioWebTB" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="ServicioWebTB">
      <s:element name="CargarSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firma" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CargarSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CargarSQLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CargarSQLSoapIn">
    <wsdl:part name="parameters" element="tns:CargarSQL" />
  </wsdl:message>
  <wsdl:message name="CargarSQLSoapOut">
    <wsdl:part name="parameters" element="tns:CargarSQLResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioWebTBSoap">
    <wsdl:operation name="CargarSQL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Carga el script SQL de Telebanca.</wsdl:documentation>
      <wsdl:input message="tns:CargarSQLSoapIn" />
      <wsdl:output message="tns:CargarSQLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioWebTBSoap" type="tns:ServicioWebTBSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CargarSQL">
      <soap:operation soapAction="ServicioWebTB/CargarSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioWebTBSoap12" type="tns:ServicioWebTBSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CargarSQL">
      <soap12:operation soapAction="ServicioWebTB/CargarSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioWebTB">
    <wsdl:port name="ServicioWebTBSoap" binding="tns:ServicioWebTBSoap">
      <soap:address location="http://localhost/ServicioWebTB/ServicioWebTB.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioWebTBSoap12" binding="tns:ServicioWebTBSoap12">
      <soap12:address location="http://localhost/ServicioWebTB/ServicioWebTB.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>